node_modules
.DS_Store
dist
.env
appstore/
android_store/
apps/mobile_pro/build/
apps/mobile/ios/build/
.openspec/skills/
.qoder/skills
apps/mobile_ios_native/.dart_tool
apps/mobile_ios_native/.idea
apps/mobile_ios_native/build
apps/mobile_ios_native/ios/.symlinks
apps/mobile_ios_native/ios/flutter
apps/mobile_ios_native/ios/Pods
apps/mobile_ios_native/ios/Runner
